/***
    StyleSheet.scss
    Author: Shadow Grimes


***/

/* Colour */
$maincolor1: rgb(73, 7, 94);    //purple
$maincolor2: white;
$maincolor3: grey;
$titlebackground: rgba(255,255,255,0.7); // white with opacity
$bordercolor: rgba(73, 7, 94, 0.7);    // purple with opacity
$boxshadow: $bordercolor;
$email: rgb(32, 62, 220);

/* Fonts */
$mainfont1: Helvetica;
$mainfont2: Arial;

$fullwidth: 100%;


/* First setting clear the user agent default setting */
/* reset to "0" to avoid broswer setting */
* {
    margin:0px auto;
    padding: 0px;
}

/***             ***


      main page



***               ***/
.container {
    margin:0px auto;
}

/* Header */
@media screen and(min-width: 768px) {
  .header {
      height:50px;
      background-color:$maincolor2;
      width: $fullwidth;
      position: fixed;
      z-index: 3;
      p {
          padding: 10px;
          color:$maincolor1;
          font-family: $mainfont1, sans-serif;
          font-weight: bold;
          font-size: 1em;
          float:left;
      }
  }
}

@media screen and(max-width: 767px) {
  .header {
      height:50px;
      background-color:$maincolor2;
      width: $fullwidth;
      position: fixed;
      z-index: 3;
      p {
          padding: 10px;
          color:$maincolor1;
          font-family: $mainfont1, sans-serif;
          font-weight: bold;
          font-size: 0.8em;
          float:left;
      }
  }
}

/* Content */
@media screen and(min-width: 768px) {
    #image {
        height:700px;
        width: $fullwidth;
        position: relative;    /* Must use the relative to make the parallex Scrolling */
        z-index: -1;
    }
}

@media screen and(max-width: 767px) {
    #image {
        height:300px;
        width: $fullwidth;
        position: relative;    /* Must use the relative to make the parallex Scrolling */
        z-index: -1;
    }
}

@media screen and(min-width: 1201px) {
    #mid-block {
        margin-top: -500px;
        height:300px;
        position: absolute;
        z-index:2;
        background-color: $titlebackground;
        border-radius: 20px;
        border-color: $bordercolor;
        border: 2px;
        box-shadow: 5px 5px 2px $boxshadow;
        line-height: 1.5;
    }
}

@media screen and(max-width: 1200px) {
    #mid-block {
        margin-top: -500px;
        height:200px;
        position: absolute;
        z-index:2;
        background-color: $titlebackground;
        border-radius: 20px;
        border-color: $bordercolor;
        border: 2px;
        box-shadow: 5px 5px 2px $boxshadow;
        line-height: 1.5;
    }
}

@media screen and(max-width: 768px) {
    #mid-block {
        margin-top: -150px;
        height:200px;
        position: absolute;
        z-index:2;
        background-color: $titlebackground;
        border-radius: 20px;
        border-color: $bordercolor;
        border: 2px;
        box-shadow: 5px 5px 2px $boxshadow;
        line-height: 1.5;
    }
}

@media screen and (min-width: 1201px) {
    #mid-title {
        padding: 75px;
        font-size: 3em;
        font-weight: bold;
        color: $maincolor1;
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    #mid-title {
        padding: 20px;
        font-size: 3em;
        font-weight: bold;
        color: $maincolor1;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    #mid-title {
        padding: 20px;
        font-size: 2em;
        font-weight: bold;
        color: $maincolor1;
        text-align: center;
    }
}

.main-content {
    // min-height: 800px;
    margin-top: -10px;    /* can minimize the gap when scrolling up and down */
    margin-bottom: 40px;
    width: 100%;
    background-color: $maincolor1;
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .main-content {
      .main-content-title {
        padding:60px;
        color:$maincolor2;
        font-size: 3em;
        font-weight: bold;
        text-align: center;
      }
      .main-content-subtitle {
        color: $maincolor2;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
      }
    }
}

@media screen and (max-width: 767px) {
    .main-content-title {
        padding:80px;
        color:$maincolor2;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }
    .main-content-subtitle {
      color: $maincolor2;
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }
}

label {
  color: $maincolor2;
  font-weight: bold;
}

#file-upload {
  color: $maincolor2;

}

.form-control-file {
  color: $maincolor2;
}

@media screen and (max-width: 767px) {
  .btn-top {
    margin-top: 15px;
    margin-bottom: 50px;
  }
}


/***         ***


    Profile Page


***          ***/
.profile-block {
  // min-height: 500px;
  background-color: $maincolor2;
  border: 5px solid $maincolor3
}

@media screen and (min-width: 1200px) {
  .profile-image {
    padding: 40px;
    text-align: center;
    width:250px;
    height:250px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 1199px) {
  .profile-image {
    padding: 30px;
    text-align: center;
    width:150px;
    height:150px;
    border-radius: 50%;
  }
}

.row-space {
  padding: 20px 40px;
  text-align: left;
  font-weight: bold;
}

.row-message {
  padding: 10px 40px;
  text-align: left;
}

.big-name {
  font-family:$mainfont1, serif;
  font-size: 2.5em;
  font-weight: bold;
}

#position {
  font-family:$mainfont1, serif;
  font-size: 1em;
  font-weight: bold;
}

#email {
  text-align: left;
  font-family:$mainfont1, serif;
  font-size: 1em;
  color: $email;
}

#bio-title {
  font-family:$mainfont1, serif;
  font-size: 1.5em;
  font-weight: bold;
}

#bio-message {
  font-family:$mainfont1, serif;
  font-size: 1em;
}


/***    ***

    footer

***      ***/

.footer {
  margin:20px auto;
  // height:40px;
  padding:20px;
  text-align: center;
  font-size: 0.8em;
  background-color: $maincolor2;
  color: black;
}
